.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: azure;
  height: 170px;
  padding: 20px;
  color: white;
}

App

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .logo-github {
  display: center;
  text-indent: -9999px;
  width: 100px;
  height: 200px;
  background: url(./SVG/github.svg);
  background-size: 10px 82px;
} */

.logo-linkedin, 
.logo-mail,
.logo-github {
  height: 80px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: azure;
  
}

/* .logo-github {
  height: 80px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
} */

.logo-linkedin:hover,
.logo-linkedin:focus,
.logo-linkedin:active,
.logo-mail:hover,
.logo-mail:focus,
.logo-mail:active,
.logo-github:hover,
.logo-github:focus,
.logo-github:active
 {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.logo-github:hover,
.logo-github:focus,
.logo-github:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.name {
  font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.otf');
  color: #222;
}
.desc {
  font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.otf');
  color: #222;
     font-weight: bold;

}

.OS {
  font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.otf');
  color: azure;
     font-weight: bold;
}

.mg {
  font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.otf');
  color: azure;
     font-weight: bold;
}