.App {
  text-align: center;
  max-width: 100%;
  min-height: 0;
  height: auto;
  overflow-x: hidden;
  background-image: url(./Images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: azure;
  height: 180px;
  padding: 20px;
  color: white;
}

.Back_Image {
  width: 400px;
  height: 600px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.logo-linkedin , 
.logo-mail 
 {
  height: 80px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  fill: azure;
  cursor: pointer;
}


.logo-linkedin:hover,
.logo-linkedin:focus,
.logo-linkedin:active,
.logo-mail:hover,
.logo-mail:focus,
.logo-mail:active
 {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  fill: azure;
}

/* En header */
.name {
  font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.otf');
  color: #222;
}
.desc {
  font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.otf');
  color: #222;
     font-weight: bold;

}
 /* En footer */

.OS {
  font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.otf');
  color: azure;
     font-weight: bold;
}

